.berocket_compare_products_styler {
    background-color: #ffffff;
    border: 1px solid #999;
}
.berocket_compare_products_styler input[type=text] {
    width: 100%;
}
.berocket_compare_products_styler th,
.berocket_compare_products_styler td {
    padding: 0.3em;
}
.berocket_compare_products_styler thead th {
    text-align: center;
}
.berocket_compare_products_styler thead tr,
.berocket_compare_products_styler tfoot tr {
    border-top: 1px solid #999;
}
.berocket_compare_products_styler .admin-column-color {
    text-align: center;
    width: 10%;
}
.berocket_compare_products_styler .all_theme_default_compare {
    float: right;
}
.berocket_compare_products_styler input {
    text-align: center;
}