.br_compare_button {
    padding: 0.618em 0.1em;
    margin-top: 5px!important;
    text-align: center;
    width: 100%;
}
.br_compare_button .br_compare_button_text {
    display: initial;
}
.br_compare_button .fa {
    width: 1.2em;
    text-align: left;
}
.br_compare_button input {
    display: none!important;
}
.br_compare_button .fa-square-o {
    display: inline-block;
}
.br_compare_button .fa-check-square-o {
    display: none;
}
.br_compare_button.br_compare_added .fa-square-o {
    display: none;
}
.br_compare_button.br_compare_added .fa-check-square-o {
    display: inline-block;
}
.br_compare_button:hover {
    color: #515151;
    background-color: #dad8da;
}
.berocket_compare_box {
    position: relative;
}
.berocket_compare_box td {
    text-align: center;
    position: relative;
}
.berocket_compare_box .berocket_compare_table .stock {
    margin: 0;
}
.berocket_compare_box .berocket_compare_table img {
    display: inline-block;
}
.berocket_compare_box .berocket_compare_table h3 a {
    border-bottom: 0;
}
.berocket_compare_box .berocket_compare_table .br_product_title {
    height: 0;
    line-height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}
.berocket_compare_table_hidden .br_product_hidden_first {
    position: relative;
}
.berocket_compare_table_hidden .br_product_hidden_first .br_show_compare_dif {
    position: absolute;
    left: 0;
    right: 0;
    text-decoration: none;
    border: 0;
}
.berocket_compare_table {
    overflow: auto;
    width: 100%;
    position: relative;
}
.berocket_compare_table table {
    width: auto;
    background-color: transparent!important;
}
.berocket_compare_table td {
    min-width: 200px;
}
.berocket_compare_table_hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    display: none;
    z-index: 95;
    background-color: white!important;
}
.berocket_compare_table_hidden .add_to_cart_button:after {
    display: none;
}
.berocket_compare_table_hidden a {
    display: block!important;
}
.br_product_compare_name {
    top: 0;
    width: auto;
    margin: 0;
}
.br_product_compare_name h3,
.br_product_compare_name p {
    margin: 0!important;
}
.br_product_compare_name h3 a {
    border-bottom: 0;
}
.br_product_compare_name td {
    padding-top: 40px;
    box-sizing: border-box;
}
.br_product_hidden_first {
    padding-left: 0!important;
    padding-right: 0!important;
}
.br_moved_attr {
    position: absolute;
    left: 0;
    width: auto;
    z-index: 90;
    border-left: 1px solid #ddd!important;
    border-right: 0!important;
    width: initial!important;
    background-color: transparent!important;
}
.br_moved_attr tr td {
    background-color: white;
    min-width: 200px;
}
.berocket_compare_box .br_moved_attr tr td.br_block_nothing {
    background-color: transparent!important;
    border-right: 0!important;
}

.berocket_compare_widget li{
    display: inline-block;
    list-style: none;
    width: 24%;
    vertical-align: top;
    position: relative;
}
.berocket_compare_widget.berocket_compare_widget_text li {
    width: 100%;
    border-bottom: 1px solid #999;
}
.berocket_compare_widget li img{
    width: 90%;
    margin: 0 5%;
    height: auto;
}
.berocket_compare_widget li span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.berocket_compare_widget.berocket_compare_widget_text li span{
    font-size: 18px;
    text-align: left;
}
.berocket_compare_widget li .br_remove_compare_product {
    position: absolute;
    top: 0;
    right: 5%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
    display: none;
}
.berocket_compare_widget.berocket_compare_widget_text li .br_remove_compare_product {
    right: 0;
}
.berocket_compare_widget li:hover .br_remove_compare_product {
    display: block;
}
.br_full_size_block {
    height: 2em;
    font-weight: bold;
    text-align: left!important;
}
.berocket_compare_box .br_full_size_block p {
    position: relative;
    top: 0;
    line-height: 2em;
    vertical-align: middle;
    left: 10px;
    margin: 0;
    display: inline-block;
}
.br_remove_compare_product_reload {
    border-bottom: 0!important;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
}
.br_absolute_custom_taxonomy {
    font-size: 5px;
}
.berocket_compare_widget .berocket_open_compare {
    display: inline-block;
    background-color: #9999FF;
    padding: 0.4em 1em;
    border: 0px solid black;
}
.colorpicker_field {
    border: 1px solid black;
    height: 30px;
    margin: 0 auto;
    position: relative !important;
    width: 30px;
}
